article {
  padding: 0px 20px 20px 20px;
  border-bottom: 1px solid #000;
  overflow: auto;
  width: 800px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
}
header {
  background-color: #fafdad;
}
form {
  width: 800px;
}
