body {
  font-family: 'Oswald', sans-serif;
  width: 100%;
  margin: 0;
  /*padding: 0;*/
}
article {
  /*padding: 0px 20px 20px 20px;*/
  border-bottom: 1px solid #000;
  /*overflow: auto;*/
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
header {
  background-color: #414CD2;
  /*position:absolute;*/
  /*top:0;
  height: 150px;*/
  width: 100%;
  z-index:999999;
}
main {
  z-index: 100;
}
nav {
  /*height: 150px;*/
}
form, select {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
option {
  text-align: center;
}
/** Start: to style navigation tab **/
.nav {
  /*margin-bottom: 18px;*/
  /*margin-left: 0;*/
  list-style: none;
}
.nav > li > a {
  display: block;
}
.nav-tabs{
  *zoom: 1;
}
.nav-tabs:before,
.nav-tabs:after {
  display: table;
  content: "";
}
.nav-tabs:after {
  clear: both;
}
.nav-tabs > li {
  float: left;
}
.nav-tabs > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}
.nav-tabs {
  border-bottom: 1px solid #ddd;
}
.nav-tabs > li {
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 18px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
   -moz-border-radius: 4px 4px 0 0;
      border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.tab-content.active{
  display: block;
}
.tab-content.hide{
  display: none;
}
.hamburgerMenu{
  display: none;
}
@media screen and (max-width: 400px)  {
  /*body{
    font-family: 'Noto Sans', sans-serif;
  	margin:0;
  }*/
  header{
  	width:100%;
  	/*background:#1d1f20;*/
    /*position: fixed;*/
  	height:50px;
  	line-height:50px;
  }
  .hamburger{
    display:block;
    background:none;
    position:absolute;
    top:0;
    right:0;
    line-height:45px;
    padding: 20px 15px 0px 15px;
    color:#fff;
    border:0;
    font-size:1.4em;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
  }
  .cross{
    background:none;
    position:absolute;
    top:0px;
    right:0;
    padding: 27px 15px 0px 15px;
    color:#fff;
    border:0;
    font-size:3em;
    line-height:65px;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
  }
  .menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#131313;  position:absolute; text-align:center;}
  .menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
  .menu li {display: block;   padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
  .menu li:hover{display: block;    background:#181818; padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
  .menu ul li a { text-decoration:none;  margin: 0px; color:#fff;}
  .menu ul li a:hover {  color: #fff; text-decoration:none;}
  .menu a{text-decoration:none; color:white;}
  .menu a:hover{text-decoration:none; color:white;}
  .glyphicon-home{
    color:white;
    font-size:1.5em;
    margin-top:5px;
    margin:0 auto;
  }
  .tabMenu {
    display:none;
  }
  .hamburgerMenu {
    display: block;
  }


}
@media screen and (min-width: 800px)  {
  article, form {
    width: 600px;
  }
}
@media screen and (min-width: 1000px) {}
@media screen and (min-width: 1400px) {}
